In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import os

In [3]:
url = '/content/soccer21-22.csv'
df= pd.read_csv(url)
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,M Oliver,...,3,4,12,8,2,5,0,0,0,0
1,14/08/2021,Man United,Leeds,5,1,H,1,0,H,P Tierney,...,8,3,11,9,5,4,1,2,0,0
2,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,D Coote,...,3,8,10,7,7,6,2,1,0,0
3,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,J Moss,...,6,1,15,11,5,2,0,0,0,0
4,14/08/2021,Everton,Southampton,3,1,H,0,1,A,A Madley,...,6,3,13,15,6,8,2,0,0,0

End of season results

In [7]:
table = pd.DataFrame(df.HomeTeam.unique(),columns=["Team"])
table[['Played', 'Win', 'Draw', 'Loss', 'GF', 'GA', 'GD' , 'Points']] = 0
table

              Team  Played  Win  Draw  Loss  GF  GA  GD  Points
0        Brentford       0    0     0     0   0   0   0       0
1       Man United       0    0     0     0   0   0   0       0
2          Burnley       0    0     0     0   0   0   0       0
3          Chelsea       0    0     0     0   0   0   0       0
4          Everton       0    0     0     0   0   0   0       0
5        Leicester       0    0     0     0   0   0   0       0
6          Watford       0    0     0     0   0   0   0       0
7          Norwich       0    0     0     0   0   0   0       0
8        Newcastle       0    0     0     0   0   0   0       0
9        Tottenham       0    0     0     0   0   0   0       0
10       Liverpool       0    0     0     0   0   0   0       0
11     Aston Villa       0    0     0     0   0   0   0       0
12  Crystal Palace       0    0     0     0   0   0   0       0
13           Leeds       0    0     0     0   0   0   0       0
14        Man City       0    0     0     0   0   0   0       0
15        Brighton       0    0     0     0   0   0   0       0
16     Southampton       0    0     0     0   0   0   0       0
17          Wolves       0    0     0     0   0   0   0       0
18         Arsenal       0    0     0     0   0   0   0       0
19        West Ham       0    0     0     0   0   0   0       0

In [8]:
table = table.set_index('Team')

In [9]:
for i in df.index:
    home = df.HomeTeam.loc[i]
    away = df.AwayTeam.loc[i]
    table.loc[home,'Played'] += 1
    table.loc[away,'Played'] += 1
    table.loc[home,'GF'] += df.FTHG.loc[i]
    table.loc[away,'GF'] += df.FTAG.loc[i]
    table.loc[home,'GA'] += df.FTAG.loc[i]
    table.loc[away,'GA'] += df.FTHG.loc[i]
    if df.loc[i,'FTR'] == "H":
        table.loc[home,'Win'] += 1
        table.loc[away,'Loss'] += 1
    elif df.loc[i,'FTR'] == "A":
        table.loc[away,'Win'] += 1
        table.loc[home,'Loss'] += 1
    else:
        table.loc[away,'Draw'] += 1
        table.loc[home,'Draw'] += 1
table['Points'] = 3*table['Win'] + table['Draw']
table['GD'] = table['GF'] - table['GA']

In [13]:
table = table.sort_values(by = 'Points', ascending=False)
table = table.reset_index()
table

              Team  Played  Win  Draw  Loss  GF  GA  GD  Points
0         Man City      38   29     6     3  99  26  73      93
1        Liverpool      38   28     8     2  94  26  68      92
2          Chelsea      38   21    11     6  76  33  43      74
3        Tottenham      38   22     5    11  69  40  29      71
4          Arsenal      38   22     3    13  61  48  13      69
5       Man United      38   16    10    12  57  57   0      58
6         West Ham      38   16     8    14  60  51   9      56
7        Leicester      38   14    10    14  62  59   3      52
8         Brighton      38   12    15    11  42  44  -2      51
9           Wolves      38   15     6    17  38  43  -5      51
10       Newcastle      38   13    10    15  44  62 -18      49
11  Crystal Palace      38   11    15    12  50  46   4      48
12       Brentford      38   13     7    18  48  56  -8      46
13     Aston Villa      38   13     6    19  52  54  -2      45
14     Southampton      38    9    13    16  43  67 -24      40
15         Everton      38   11     6    21  43  66 -23      39
16           Leeds      38    9    11    18  42  79 -37      38
17         Burnley      38    7    14    17  34  53 -19      35
18         Watford      38    6     5    27  34  77 -43      23
19         Norwich      38    5     7    26  23  84 -61      22

# **Explore: Which team committed the most fouls?**

In [17]:
teams= pd.DataFrame(df.HomeTeam.unique(),columns=["Team"])
teams[['Away_Foul','Home_Foul','Total_Foul']] = 0
teams = teams.set_index("Team")
teams

                Away_Foul  Home_Foul  Total_Foul
Team
Brentford               0          0           0
Man United              0          0           0
Burnley                 0          0           0
Chelsea                 0          0           0
Everton                 0          0           0
Leicester               0          0           0
Watford                 0          0           0
Norwich                 0          0           0
Newcastle               0          0           0
Tottenham               0          0           0
Liverpool               0          0           0
Aston Villa             0          0           0
Crystal Palace          0          0           0
Leeds                   0          0           0
Man City                0          0           0
Brighton                0          0           0
Southampton             0          0           0
Wolves                  0          0           0
Arsenal                 0          0           0
West Ham                0          0           0

In [18]:
for i in df.index:
  home = df.HomeTeam.loc[i]
  away = df.AwayTeam.loc[i]
  teams.loc[home,'Home_Foul'] += df.HF.loc[i]
  teams.loc[away,'Away_Foul'] += df.AF.loc[i]
teams['Total_Foul'] = teams['Away_Foul'] + teams['Home_Foul']

In [23]:
teams = teams.sort_values(by='Total_Foul',ascending=False)
teams.reset_index()

              Team  Away_Foul  Home_Foul  Total_Foul
0            Leeds        233        236         469
1          Watford        225        215         440
2   Crystal Palace        205        210         415
3          Chelsea        196        213         409
4      Southampton        196        206         402
5      Aston Villa        211        190         401
6       Man United        226        169         395
7          Burnley        193        201         394
8         Brighton        185        208         393
9        Newcastle        182        209         391
10       Tottenham        178        208         386
11       Brentford        184        187         371
12         Everton        201        167         368
13          Wolves        188        177         365
14         Arsenal        184        179         363
15       Liverpool        191        172         363
16         Norwich        171        185         356
17       Leicester        188        168         356
18        West Ham        162        162         324
19        Man City        161        159         320

## **Explore: The most indiscipline team based on the number of cards received.**

Visualize: Plot the percentage of games that ended in a draw over time. 
Here I want plot each day and the number of draws as a percentage of the total number of games

In [ ]:
df1 = pd.DataFrame(df.D_ate.unique(),columns= ['D_ate'])
df1

In [ ]:
#df1[('Date_Played').month]

#extract month as new column 
df1 = pd.DatetimeIndex(df['D_ate']).month
df1

Int64Index([8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', name='D_ate', length=380)

In [ ]:
Aug = 0
Sept = 0
Oct = 0
Nov = 0
Dec = 0
Jan = 0
Feb = 0
for i in df1:
  if i == 8:
    Aug +=1
  if i== 9:
    Sept+=1
print(Aug)
print(Sept)

38
30

In [ ]:
for i in df.index:
  home = df.HomeTeam.loc[i]
  away = df.AwayTeam.loc[i]
  if i in 
  df1['month']:
  
  table.loc[away,'Draw'] += 1
  table.loc[home,'Draw'] += 1
  df1.loc[home,'HomeFoul'] += df.HF.loc[i]
  df1.loc[away,'AwayFoul'] += df.AF.loc[i]

df1['TotalFoul'] = df1['AwayFoul'] + df1['HomeFoul']

In [ ]:
No_of_Away_goals_FT = np.sum(df['FTAG'])
No_of_Home_goals_FT = np.sum(df['FTHG'])
No_of_Away_goals_HT = np.sum(df['HTAG'])
No_of_Home_goals_HT = np.sum(df['HTAG'])
print('No_of_Away_goals_FT ='+ str(No_of_Away_goals_FT))
print(No_of_Home_goals_FT)
print(No_of_Away_goals_HT)
print(No_of_Home_goals_HT)

No_of_Away_goals_FT =496
575
224
224