In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import os

In [ ]:
url = '/content/soccer.csv'
df= pd.read_csv(url)
df.head()

,D_ate,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,M Oliver,...,3,4,12,8,2,5,0,0,0,0
1,14/08/2021,Man United,Leeds,5,1,H,1,0,H,P Tierney,...,8,3,11,9,5,4,1,2,0,0
2,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,D Coote,...,3,8,10,7,7,6,2,1,0,0
3,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,J Moss,...,6,1,15,11,5,2,0,0,0,0
4,14/08/2021,Everton,Southampton,3,1,H,0,1,A,A Madley,...,6,3,13,15,6,8,2,0,0,0

Explore: What team commits the most fouls?

The team that commits the most fouls can be the the team with the highest number of yellow and red cards

In [ ]:
teams= pd.DataFrame(df.HomeTeam.unique(),columns=["Team"])
teams[['AwayFoul','HomeFoul','TotalFoul']] = 0
teams

              Team  AwayFoul  HomeFoul  TotalFoul
0        Brentford         0         0          0
1       Man United         0         0          0
2          Burnley         0         0          0
3          Chelsea         0         0          0
4          Everton         0         0          0
5        Leicester         0         0          0
6          Watford         0         0          0
7          Norwich         0         0          0
8        Newcastle         0         0          0
9        Tottenham         0         0          0
10       Liverpool         0         0          0
11     Aston Villa         0         0          0
12  Crystal Palace         0         0          0
13           Leeds         0         0          0
14        Man City         0         0          0
15        Brighton         0         0          0
16     Southampton         0         0          0
17          Wolves         0         0          0
18         Arsenal         0         0          0
19        West Ham         0         0          0

In [ ]:
teams = teams.set_index("Team")
#teams

In [ ]:
for i in df.index:
  home = df.HomeTeam.loc[i]
  away = df.AwayTeam.loc[i]
  teams.loc[home,'HomeFoul'] += df.HF.loc[i]
  teams.loc[away,'AwayFoul'] += df.AF.loc[i]
teams['TotalFoul'] = teams['AwayFoul'] + teams['HomeFoul']

In [ ]:
#teams.reset_index()
teams = teams.sort_values(by='TotalFoul',ascending=False)
teams

                AwayFoul  HomeFoul  TotalFoul
Team
Leeds                233       236        469
Watford              225       215        440
Crystal Palace       205       210        415
Chelsea              196       213        409
Southampton          196       206        402
Aston Villa          211       190        401
Man United           226       169        395
Burnley              193       201        394
Brighton             185       208        393
Newcastle            182       209        391
Tottenham            178       208        386
Brentford            184       187        371
Everton              201       167        368
Wolves               188       177        365
Arsenal              184       179        363
Liverpool            191       172        363
Norwich              171       185        356
Leicester            188       168        356
West Ham             162       162        324
Man City             161       159        320

Visualize: Plot the percentage of games that ended in a draw over time. 
Here I want plot each day and the number of draws as a percentage of the total number of games

In [ ]:
df1 = pd.DataFrame(df.D_ate.unique(),columns= ['D_ate'])
df1

    Date_Played
0    13/08/2021
1    14/08/2021
2    15/08/2021
3    21/08/2021
4    22/08/2021
..          ...
118  15/05/2022
119  16/05/2022
120  17/05/2022
121  19/05/2022
122  22/05/2022

[123 rows x 1 columns]

In [ ]:
#df1[('Date_Played').month]

#extract month as new column 
df1 = pd.DatetimeIndex(df['D_ate']).month
df1

Int64Index([8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', name='D_ate', length=380)

In [ ]:
Aug = 0
Sept = 0
Oct = 0
Nov = 0
Dec = 0
Jan = 0
Feb = 0
for i in df1:
  if i == 8:
    Aug +=1
  if i== 9:
    Sept+=1
print(Aug)
print(Sept)

38
30

In [ ]:
for i in df.index:
  home = df.HomeTeam.loc[i]
  away = df.AwayTeam.loc[i]
  if i in 
  df1['month']:
  
  table.loc[away,'Draw'] += 1
  table.loc[home,'Draw'] += 1
  df1.loc[home,'HomeFoul'] += df.HF.loc[i]
  df1.loc[away,'AwayFoul'] += df.AF.loc[i]

df1['TotalFoul'] = df1['AwayFoul'] + df1['HomeFoul']

In [ ]:
No_of_Away_goals_FT = np.sum(df['FTAG'])
No_of_Home_goals_FT = np.sum(df['FTHG'])
No_of_Away_goals_HT = np.sum(df['HTAG'])
No_of_Home_goals_HT = np.sum(df['HTAG'])
print('No_of_Away_goals_FT ='+ str(No_of_Away_goals_FT))
print(No_of_Home_goals_FT)
print(No_of_Away_goals_HT)
print(No_of_Home_goals_HT)

No_of_Away_goals_FT =496
575
224
224